.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .box {
    display: flex;
    align-items: center;
    width: 65%;
    border: 1px solid black;
    padding: 1.25rem;
    &.vertical {
      flex-direction: column;
      justify-content: center;
    }
    &.horizontal {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.success {
  background-color: green;
}

.danger {
  background-color: red;
}

button + button {
  margin-left: 1rem;
}
