<h1>ANGULAR Directives</h1>
<ul>
  <li>Instructions in the DOM</li>
  <li>
    Ang. components are also directives with the template (trough component we
    are instructing angular to place HTML & TS logic in the place of selector)
  </li>
  <li>can't use 2 structural directives on the same DOM!</li>
</ul>

<h2>2 types of inbuilt directives in angular:</h2>
<ol>
  <li>
    <strong>Structural directives</strong> - modify the DOM (ngIf, ngFor,
    ngSwitch)
  </li>
  <li><strong>Attribute directives</strong></li>
</ol>

<h2>Structural directives</h2>
<ul>
  <li>* - change DOM</li>
</ul>

<h3>ngIf</h3>
<ul>
  <li>hide/show elements in DOM dynamicly</li>
</ul>

<div class="example">
  <div class="box vertical">
    <div>
      <button class="success" (click)="approve(true)">Approve</button>
      <button class="danger" (click)="approve(false)">Reject</button>
    </div>
    <p *ngIf="isApproved">Your app has been approved</p>
    <p *ngIf="!isApproved">Your app has been rejected</p>
  </div>
</div>

<h3>ngFor</h3>
<ul>
  <li>loop trough ann array and display that in the html</li>
</ul>

<div class="example">
  <div class="box horizontal">
    <div>
      <p *ngFor="let number of numbers">
        {{ number }}
      </p>
    </div>
    <div>
      <p *ngFor="let number of numbers; let i = index">
        {{ i + 1 }} - {{ number }}
      </p>
    </div>
    <div>
      <p *ngFor="let number of numbers; let i = index">
        <span *ngIf="(i + 1) % 2 === 0">
        {{ i + 1 }} - {{ number }}
        </span>
      </p>
    </div>
  </div>
</div>

<h3>ngSwitch</h3>
<ul>
  <li>switch between different DOMs based on some value</li>
</ul>

<div class="example">
  <div class="box vertical">
    <input type="number" name="luckyNumber" [(ngModel)]="luckyNumber" />

    <div [ngSwitch]="luckyNumber">
      <p *ngSwitchCase="1">Strong</p>
      <p *ngSwitchCase="2">Weak</p>
      <p *ngSwitchCase="3">Intelligent</p>
      <p *ngSwitchCase="4">Fool</p>
      <p *ngSwitchCase="5">Brave</p>
      <p *ngSwitchDefault>Enter numbers from 1 to 5</p>
    </div>
  </div>
</div>
